
development:
  adapter: postgresql
  database: dunces_dev
  pool: 5
  timeout: 5000

test:
  adapter: postgresql
  database: dunces_test
  pool: 5
  timeout: 5000

production:
  adapter: postgresql
  database: dunces_production
  username: dunces
  password: <%= ENV['DUNCES_DATABASE_PASSWORD'] %>
